doctype html
html(lang='en')
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(charset="utf-8")
		| <script type="text/javascript" src="//use.typekit.net/acm5sii.js"></script>
		| <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		script.
			var ap = {};
			ap.authd = #{authd};
			ap.templates = !{tpls};
			ap.env = !{env};
		link(rel='stylesheet', href='/images/apple-icon.png')
		link(rel='stylesheet', type="text/css", href='/assets/css/styles.css')
		link(rel='stylesheet', type="text/css", href='/assets/css/font-awesome.css')
		link(rel='stylesheet', type="text/css", href='/assets/css/tablet.css', media='screen and (max-width:1024px) and (min-width:628px)')
	body(class='ui-body-a')
		div(class="preload")
		div(id="nav")
			a(href="/", id="logo-home") Let's Duo!
		div(id="notifications")
		!= body